@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Rubik&display=swap");

body {
  background-color: #666666;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chat-container {
  overflow: hidden;
  width: 650px;
  max-width: 100%;
  position: absolute;
  bottom: 80px;

  background: rgba(255, 255, 255, 0.411);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#chat-messages {
  padding: 20px;
  height: 500px;
  overflow-y: auto;
  color: hsla(267, 100%, 50%, 0.998);
}

#user-input {
  display: flex;
}

#input-text {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.send-button {
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
}

.options-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

button {
  font-family: "Montserrat", sans-serif;
  background-color: hsla(267, 100%, 50%, 0.998);
  color: #fff;
  margin-right: 20px;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: 200;
}

#logo {
  position: absolute;
  bottom: 690px;
}

.user-message {
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.advisor-message {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: hsla(267, 100%, 50%, 0.998);
  text-align: right;
  padding: 0.5px;
}

.advisor-message {
  color: #fff;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 255, 0.4);
  border-radius: 15px;
  width: 400px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

#creds {
  position: absolute;
}
